<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <div class="nbar">

    <div class="compu">

          <img class="logo" src="/assets/logo-compudabo.png" alt="">

            </div>

            <div class="suc">

                <a class="s1" href="#" >
                  <img  class="loc" src="/assets/icons/location-pin.svg" width="3%" alt="3%">
                  Sucursales</a>
            </div>

            <div class="telef">

                <a class="s1" href="#" >
                  <img  class="loc" src="/assets/icons/phone-call.svg" width="3%" alt="3%">
                  Compra por telefono</a>
            </div>

            <div class="contac">

                <a class="s1" href="#" >
                  <img  class="loc" src="/assets/icons/mail.svg" width="3%" alt="3%">
                  Contacto</a>
            </div>

            <div class="log">
              <img src="/assets/icons/social-media.svg" width="10%" alt="10%">

            </div>

            <div class="shop">
              <img src="/assets/icons/shopping-cart.svg" width="10%" alt="10%">

            </div>


        <div class="flexsearch">
  <div class="flexsearch--wrapper">
    <form class="flexsearch--form" action="#" method="post">
      <div class="flexsearch--input-wrapper">
        <input class="flexsearch--input" type="search" placeholder="search">
      </div>
      <input class="flexsearch--submit" type="submit" value="&#10140;"/>
    </form>
  </div>

</div>



  </div>



  </body>
</html>
