<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <div class="abajo">
    <div class="container">

      <div class="card img-fluid" style="width:500px; left:600px;" >
        <img class="card-img-top" src="/assets/universe/universe1.jpg" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
          <h4 class="card-title">soporte tecnico</h4>
          <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
          <a href="#" class="btn btn-primary">Saber mas</a>
        </div>
      </div>
    </div>

    <div class="arriba">
      <div class="container">

        <div class="card img-fluid" style="width:500px"  >
          <img class="card-img-top" src="/assets/universe/universe3.jpg" alt="Card image" style="width:100%">
          <div class="card-img-overlay">
            <h4 class="card-title">Conoce Nuestro Trabajo</h4>
            <p class="card-text">Some example text some example text. Some example text some example text. Some example text some example text. Some example text some example text.</p>
            <a href="#" class="btn btn-primary">Saber mas</a>
          </div>
        </div>
      </div>
    </div>

  </div>



</body>
</html>
